@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto, sans-serif !important;
    font-weight: 500 !important;
}

.footer {
  margin: 20px 0 10px 0;
}

main {
    min-height: 80vh;
}


a {
    text-decoration: none !important;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

.nav-span {
    margin-left: 8px;
}

span {
    margin-right: 10px;
}

.rating span {
    margin: 0.1rem;
}

h3 {
    padding: 1rem 0;
}

.btn-block {
    width: 100%;
}

#price,
#status {
    height: 77px;
}

#plus-btn,
#minus-btn {
    font-size: 20px;
}

#minus-btn {
    margin-left: 20px;
}

#plus-btn:disabled,
#minus-btn:disabled {
    background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
    border-color: light-dark(rgba(118, 118, 118, 0.3), rgba(195,  195, 195, 0.3));
}

#cart-items .row {
    align-items: center;
}

.fas.fa-trash {
    font-size: 18px;
}

.checkout {
    margin-top: 80px;
}

.login-input {
    border-radius: 0;
    background-color: rgb(238, 238, 238) !important;
}

#place-order-container {
    width: 85%;
    margin: auto;
}

.payment.list-group-item {
  border-bottom: 1px solid gray !important;
}

.group-border {
  border: 1px solid gray !important;
}

.order-items .row{
  align-items: center;
}

.heading {
  margin-bottom: 50px;
}

.heading-xs {
  margin-bottom: 20px;
}

.fas.fa-times {
  color: red;
}

.fas.fa-check {
  color: green;
}

.fa-solid.fa-magnifying-glass {
  font-size: 20px;
}

.fas.fa-edit,
.fas.fa-trash  {
  color: black;
  font-size: 15px;
}

.fas.fa-plus {
  margin-right: 10px;
}

.btn-sm.edit,
.btn-sm.edit.btn.btn-primary {
  background-color: transparent ;
}

.form-check-input {
  margin: -5px 10px 0 0 !important;
  /* margin-left: 0 !important;
  margin-right: 10px !important; */
  border: 0.5px solid  gray !important;
}

.form-check.check-box {
  height: 48px;
  display: flex ;
  align-items: center;
  color: grey;
}

#products-wrapper {
  margin-bottom: 50px;
}

.mr-ms-2.ml-sm-5.search {
  width: 350px;
}


/* ------ Stepper------ */

.stepper-wrapper {
    display: flex;
    justify-content: space-between;
}

.stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  
  .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
  }
  
  .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
  }
  
  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
  }
  
  .stepper-item.active {
    font-weight: bold;
  }
  
  .stepper-item.completed .step-counter {
    background-color: #4bb543;
  }
  
  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
  }
  
  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }

 